h1,
h2,

.title h3 {
  font-family: "Nunito", "Helvetica", "sans-serif";
  color: #000000;
  width: 700px;
  margin-bottom: 16px;
  padding-bottom: 26px;
  border-bottom: 4px solid #E7E7EA;
}

.experiences-container {
  display: flex;
  justify-content: center;
  padding: 40px;
}

.container{
  width: 800px;
  margin: auto;
}

p {
  color: #93329E;
  opacity: 0.7;

}

// .card-white {
//     background-color: white;
//     box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
//     border-radius: 4px;
//     width: 200px;
//     text-align: center;
//     padding: 24px;
//     margin: 8px;
//   }

//   .card-white img {
//     width: 180px;
//     height: 180px;
//     object-fit: cover;
//     border-radius: 4px;
//   }

//   .card-white h3 {
//     margin-bottom: 0;
//   }

//   .cards {
//     display: grid;
//     grid-template-columns: 1fr 1fr 1fr;
//     grid-gap: 16px;
//   }



p {
  color: #93329E;
  opacity: 0.7;

}

.booking-form {
    padding: 40px 16px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
    // box-shadow: 0 0px 55px rgb(0 0 0 / 20%);
    height: 550px;
    font-family: "Nunito", "Helvetica", "sans-serif";
    color: #440A67;
    box-sizing: border-box;
    font-size: 21px;
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 100;
}
.fields {
    margin: 0 20px;
}
.col-2 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
}
// img {
//   width: 100%;
//   object-fit: cover;
//   box-shadow: 3
// }

// .card-product {
//   overflow: hidden;
//   height: 120px;
//   background: white;
//   box-shadow: 0 0 15px rgba(0,0,0,0.2);
//   display: flex;
//   align-items: center;
// }

// .card-product img {
//   height: 100%;
//   width: 120px;
//   object-fit: cover;
// }

// .card-product h2 {
//   font-size: 16px;
//   font-weight: bold;
//   margin: 0;
// }

// .card-product p {
//   font-size: 12px;
//   line-height: 1.4;
//   opacity: .7;
//   margin-bottom: 0;
//   margin-top: 8px;
// }

// .card-product .card-product-infos {
//   padding: 16px;
// }


// .card-white {
//     background-size: cover;
//     background-position: center;
//     height: 180px;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     color: white;
//     font-size: 24px;
//     font-weight: bold;
//     text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
//     border-radius: 5px;
//     box-shadow: 0 0 15px rgba(0,0,0,0.2);
//   }

// //   .card-product {
// //     overflow: hidden;
// //     height: 120px;
// //     background: white;
// //     box-shadow: 0 0 15px rgba(0,0,0,0.2);
// //     display: flex;
// //     align-items: center;
// //   }

//   .card-white img {
//     height: 100%;
//     width: 120px;
//     object-fit: cover;
//   }

//   .card-white h2 {
//     font-size: 16px;
//     font-weight: bold;
//     margin: 0;
//   }

//   .card-white p {
//     font-size: 12px;
//     line-height: 1.4;
//     opacity: .7;
//     margin-bottom: 0;
//     margin-top: 8px;
//   }

.card-trip {
    overflow: hidden;
    background: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    align-items: center;
  }

  .card-trip > img {
    height: 200px;
    width: 100%;
    object-fit: cover;
  }

  .card-trip h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }

  .card-trip p {
    font-size: 12px;
    opacity: .7;
    margin: 0;
  }


  .card-trip .card-trip-infos {
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
  }

  .card-trip-infos .card-trip-user {
    position: absolute;
    right: 16px;
    top: -20px;
    width: 40px;
  }

.search-number {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.form-search {
  border: 1px solid #121730;
  padding: 12px 205px 12px 16px;
  background-color: transparent;
  font-style: italic;
  font-family: "Libre Franklin", "sans-serif";
  letter-spacing: 2px;
  margin-right: -6px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  outline: none;
}

.btn-search {
  border: 1px solid #121730;
  padding: 12px 19px;
  background-color: transparent;
  font-style: bold;
  font-family: "Libre Franklin", "sans-serif";
  letter-spacing: 2px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: 0.5s ease;
  cursor: pointer;
}

input[type="submit" i] {
  user-select: none;
  white-space: pre;
  align-items: flex-start;
  text-align: center;
  color: -internal-light-dark(black, white);
}

//   .content {
//     display: flex;
//   }
//   .cards {
//     flex-grow: 1;
//     display: grid;
//     grid-template-columns: 1fr 1fr 1fr;
//     grid-gap: 16px;
//     padding: 16px;
//   }

//   #map {
//     height: 100vh;
//     position: sticky;
//     top: 0;
//   }

//   /*Media Queries*/

//   /*Smallest device*/
//   @media (min-width: 100px) and (max-width: 575px) {
//     .cards {
//       grid-template-columns: 1fr;
//     }
//     #map {
//       display: none;
//     }
//   }

//   /*Small devices (landscape phones, 576px and up)*/
//   @media (min-width: 576px) {
//     .cards {
//       grid-template-columns: 1fr 1fr;
//     }
//     #map {
//       display: none;
//     }
//   }

//   /*Medium devices (tablets, 768px and up)*/
//   @media (min-width: 1200px) {
//     .cards {
//       grid-template-columns: 1fr 1fr 1fr;
//     }
//     #map {
//       display: block;
//     }
//   }

//   .btn-experience-new {
//     border-radius: 0px;
//     padding: 12px 100px;
//   }

//   .card-product .card-product-infos {
//     padding: 16px;
//   }

//   /*card-trip*/
//   .card-trip {
//     overflow: hidden;
//     background: white;
//     box-shadow: 0 0 15px rgba(0,0,0,0.2);
//   }

//   .card-trip > img {
//     height: 200px;
//     width: 100%;
//     object-fit: cover;
//   }

//   .card-trip h2 {
//     font-size: 16px;
//     font-weight: bold;
//     margin: 0;
//   }

//   .card-trip p {
//     font-size: 12px;
//     opacity: .7;
//     margin: 0;
//   }


//   .card-trip .card-trip-infos {
//     padding: 16px;
//     display: flex;
//     justify-content: space-between;
//     align-items: flex-end;
//     position: relative;
//   }

//   .card-trip-infos .card-trip-user {
//     position: absolute;
//     right: 16px;
//     top: -20px;
//     width: 40px;
//  }
