<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <h1><%= @experience.name %></h1>
      <h3><%= @experience.content %></h3>
      <h3>£<%= @experience.price %></h3>
      <%= image_tag "https://www.tate.org.uk/sites/default/files/styles/width-600/public/tate_britain_exterior_1.jpg" %>
      <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <h3> >> Book here! <<</h3>
        <h3> >> Book here! <<</h3>
        <h3> >> Book here! <<</h3>
        </div>
      </div>
    </div>
  </div>
</div>
