.navbar-lewagon {
  justify-content: space-between;
  background: white;
  opacity: 0.8;
  font-family: "Nunito", "Helvetica", "sans-serif";
  letter-spacing: 2px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-lewagon li {
  padding-left:30px;
  padding-right:30px;
}


.transparent {
  position: absolute;
  top: 0;
  width: 100%;
}
