.navbar-lewagon {
  justify-content: space-between;
  background: white;
  opacity: 0.3;
  margin: 0 auto 0;
  padding-top: 0px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.transparent {
  position: absolute;
  top: 0;
  width: 100%;
}
